server:
  port: 8082

spring:
  application:
    name: soccer
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/${DB_NAME:esgseeddb}
    username: ${DB_USER:esgseed}
    password: ${DB_PASSWORD:esgseed1234}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

